%% Table definition 
{tables,[{host,[{attributes,[id,
	 			hostname,
	 			ip,
	 			ssh_port,
	 			uid,
	 			pwd,
	 			type,
	 			start_args,
	 			dirs_to_keep,
	 			application_dir,
	 			capabilities,
	 			status
	 			]}]}]
}.
%% Data 
{host,{"c200","host"},
	"c200",
	"192.168.0.200",
	22,
	"joq62",
	"festum01",
	auto_controller,
	[{erl_cmd,"erl -detached"},{cookie,"cookie_test"},{env_vars,[]},{nodename,"host"}],
	["logs"],
	"host_c200.applications",
	[],
	not_attached}.

{host,{"c201","host"},
	"c201",
	"192.168.0.201",
	22,
	"joq62",
	"festum01",
	auto_controller,
	[{erl_cmd,"erl -detached"},{cookie,"cookie_test"},{env_vars,[]},{nodename,"host"}],
	["logs"],
	"host_c201.applications",
	[],
	not_attached}.

{host,{"c202","host"},
	"c202",
	"192.168.0.202",
	22,
	"joq62",
	"festum01",
	auto_controller,
	[{erl_cmd,"erl -detached"},{cookie,"cookie_test"},{env_vars,[]},{nodename,"host"}],
	["logs"],
	"host_c202.applications",
	[],
	not_attached}.
	    
{host,{"c203","host"},
	"c203",
	"192.168.0.203",
	22,
	"pi",
	"festum01",
	non_auto_worker,
	[{erl_cmd,"/snap/erlang/current/usr/bin/erl -detached"},
	 {cookie,"cookie_test"},{env_vars,[]},{nodename,"host"}],
	["logs"],
	"host_c203.applications",
	[{port,5566},{hw,[zigbee_2]}],
	not_attached}.